.navbar{
    width:100%;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(219, 225, 177);
}
#cars{
  margin-left: 80px;
  margin-bottom:50px;
  width:70px;
  height:30px;
  border-radius:5px;
  background-color:#242124 ;
  color:white;
  margin-top:10px;
}
.line1{
  display: flex;
}
.skip{
  margin-left: 30px;
  font-size:15px;
  color: rgb(16, 15, 15);

}
.Dark{
  margin-left: 30px;
  font-size:15px;
  background-color: var(--background-color);
  color: rgb(12, 11, 11);
}

.Mood {
  color: var(--text-color);
  color: rgb(8, 8, 8);
}
.about{
  margin-left: 1250px;
  color: rgb(7, 6, 6);
}
.img1{
  width: 70px;
  height: 70px;
  margin-left: 20px;
 margin-bottom: 20px;
}
.img2{
  width:150px;
  height: 100px;
  margin-left: 80px;
  border: 1px solid rgb(47, 181, 105);
}
.image{
  width:500px;
  height: 150px;
  border: 1px solid black;
  margin-left: 200px;
  background-image: url();
}

.flex{
  display: flex;
}
.search{
  width: 500px;
  height: 40px;
  border-radius: 20px;
  margin-left: 90px;
  margin-top: 10px;
  font-size: 15px;
}
.btn{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.img3{
  width: 30px;
  height: 30px;
  margin-left: 80px;
}
.nav{
  display: flex;
  color: white;
  margin-left: 20px;
}
.topic{
  color: white;
  margin-left: 20px;
}
