 
.main1{

    border: 1px solid black;
    margin-left: 750px;
    display: flex;
    margin-top: 150px;
    border-radius: 10px;
    width: 450px;
    height: 700px;
    background-color: rgb(231, 236, 238);
}


.sign{
    margin-left: 150px;
    font-size: 30px;
    color-scheme: blue;
   
}
img{
    height: 600px;
    width: 450px;
}
.logo1{
    width: 45px;
    height: 45px;
    margin-bottom: 110px;
    margin-left: 90px;
    margin-top: 10px;
}
.logo2{
    width: 65px;
    height: 65px;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-top: 20px;
}
.logo3{
    width: 50px;
    height: 50px;
    margin-bottom: 110px;
    margin-left: 15px;
    margin-top: 15px;
}
.logo4{
    width: 50px;
    height: 50px;
    margin-bottom: 110px;
    margin-left: 15px;
    margin-top: 15px;
}
.user1{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
   
}
.user2{
    margin-left: 50px;
    font-size: 20px;
   
}

.name{
    margin-left: 40px;
    width: 350px;
    height: 45px;
    background-color: rgb(253, 251, 248);
    border: none;
    font-size: 15px;
}
.Email{
    margin-left: 40px;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(244, 243, 241);
    border: none;
    font-size: 15px;
}
.password{
    margin-left: 40px;
    width: 350px;
    height: 45px;
    background-color: rgb(249, 245, 240);
    border: none;
    font-size: 15px;
}
.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-top: 10px;
    margin-left: 40px;
    
  }
  
  .line {
    flex-grow: 2;
    height: 2px;
    background-color: #0c0c0c;
  }
  
  .or-text {
    margin: 0 10px;
    color: #100f0f;
    font-size: 30px;
  }
  .justice{
    border-radius: 10px;
    width: 400px;
    height: 600px;
  }
  .signuplogo{
    margin-left: 1100px;
    height: 60px;
    width: 60px;
    margin-bottom: 54px;
    margin-top: 150px;
  }
  .main4:hover{
    background-color: fuchsia;
  }
  button{
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 140px;
    font-size: 20px;
    background-color: #090909;
    color: aliceblue;
   
  }
  .login{
    margin-top: 50px;
  }