h1{
    color: blue;
}
.baloon{
    display: flex;
}
.baloon1{
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    margin-left: 0px;
    background-image: url("../../public/Resources/flower.jpeg");
    background-size: cover;
    background-color: black;
    /* background-size : 300px; */
}
.baloon2{
    width: 900px;
    height: 1000px;
    border: 1px solid black;
    margin-left: 930px;
    background-color: bisque;

  
}
.box6{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    margin-left: 150px;
    margin-top: 100px;
    background-color: bisque;
    box-shadow: rgb(185, 142, 142);
}
.sss{
    margin-left: 150px;
    font-size: 30px;

}
.users1{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
}
.names{
    margin-left: 50px;
    width:350px;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.Emails{
    margin-left: 50px;
    width:350px;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.user2{
    margin-left: 50px;
    font-size: 20px;
}
.password1{
    margin-left: 50px;
    width:350px;
    height: 44px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
button{
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 140px;
    font-size: 20px;
    background-color: #090909;
    color: aliceblue;
   
  }
  .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-top: 10px;
  
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #0c0c0c;
  }
  
  .or-text {
    margin: 0 10px;
    color: #100f0f;
    font-size: 25px;
  }